@import url('https: //fonts.google.com/share?selection.family=Poppins:wght@300|Roboto+Slab:wght@100..900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto" "sans-serif";
}